<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favIcon.ico">

  </head>

  <body>
    
    <div class="intro-header">
        <div class="wrapper-masthead">
         <div class="container">
           <header class="masthead clearfix">
             <div class="site-info">
              <h1 class="site-name">
<img style="display:inline; width: 30px; margin-bottom:-3px;" src="../images/hackingtonsLogoClear.png">
 
               <a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
               <p style="margin-left:38px" class="site-description">{{ site.description }}</p>
             </div>
             <nav>
             <a href="https://app.hackingtons.com/signupPage">Enroll</a>
               <a href="{{ site.baseurl }}/blog">Blog</a>
               <a href="{{ site.baseurl }}/about">About</a>
               <a href="{{ site.baseurl }}/archive">Archive</a>
               
             </nav>
           </header>
         </div>
       </div>
       
        <div class="container">
            <!-- <div class="space-small">

            </div> -->
           
            <div style="text-align: center; overflow: hidden" class="">
            
            <iframe src="https://player.vimeo.com/video/199875631" width="490"  height="280" webkitallowfullscreen  mozallowfullscreen allowfullscreen></iframe>
           
            </div>
            <br>
            <br>

             <!--  <ul class="ch-grid">
                <li>
                    <div class="ch-item">				
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back">
                                    <a href="http://hackingtons.com"><h3><br>Hackingtons</h3></a>
                                </div>	
                            </div>
                        </div>
                    </div>
                </li>
            </ul> -->
       
             
             <!-- <div class="space-medium"></div> -->
            
        </div>
    </div>
   

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
            <div class="svg-icon">
          {% include svg-icons.html %}
            </div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
